[submodule "sort"]
	path = sort_repo
	url = https://github.com/whitef0x0/sort
[submodule "darkflow"]
	path = darkflow_repo
	url = https://github.com/whitef0x0/darkflow.git
[submodule "soundvision_c"]
	path = soundvision_c
	url = https://github.com/whitef0x0/soundvision_c.git
